<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/client_manager</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="es.seas.feedback.cliente.manager.model.Cliente"/>
    <mapping class="es.seas.feedback.cliente.manager.model.Contacto"/>
    <mapping class="es.seas.feedback.cliente.manager.model.Direccion"/>
    <mapping class="es.seas.feedback.cliente.manager.model.Provincia"/>
    <mapping class="es.seas.feedback.cliente.manager.model.Localidade"/>
    <mapping class="es.seas.feedback.cliente.manager.model.Usuario"/>
  </session-factory>
</hibernate-configuration>
